:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #3b3b3b;
  background-color: #ededed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html, body {
  margin: 0;
}

label {
  display: block;
  margin-bottom: 6px;
}